@media (max-width: 23rem) {
    html {
        font-size: 37.5%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        width: 25rem;
        height: 50rem;
    }

    .header {
        grid-column: 1;
        grid-row: 1;

        height: 16rem;

        padding: 1rem 3rem;

        margin: 0;
    }

    .subscribe {
        grid-column: 1;
        grid-row: 2;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0;

    }

    .convince {
        grid-column: 1;
        grid-row: 3;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (min-width: 23rem) and (max-width: 30rem) {
    html {
        font-size: 55%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        width: 25rem;
        height: 50rem;
    }

    .header {
        grid-column: 1;
        grid-row: 1;

        height: 16rem;

        padding: 1rem 3rem;

        margin: 0;
    }

    .subscribe {
        grid-column: 1;
        grid-row: 2;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0;

    }

    .convince {
        grid-column: 1;
        grid-row: 3;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (min-width: 30rem) and (max-width: 38rem) {
    html {
        font-size: 65%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        width: 25rem;
        height: 50rem;
    }

    .header {
        grid-column: 1;
        grid-row: 1;

        height: 16rem;

        padding: 1rem 3rem;

        margin: 0;
    }

    .subscribe {
        grid-column: 1;
        grid-row: 2;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0;

    }

    .convince {
        grid-column: 1;
        grid-row: 3;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (min-width: 38rem) and (max-width: 62rem) {
    html {
        font-size: 75%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        width: 25rem;
        height: 50rem;
    }

    .header {
        grid-column: 1;
        grid-row: 1;

        height: 16rem;

        padding: 1rem 3rem;

        margin: 0;
    }

    .subscribe {
        grid-column: 1;
        grid-row: 2;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0;

    }

    .convince {
        grid-column: 1;
        grid-row: 3;

        padding: 3.5rem 3rem;

        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media (min-width: 63rem) {
    html {
        font-size: 100%;
    }
}