@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --cyan: hsl(179, 62%, 43%);
    --light_cyan: hsl(179, 79%, 43%);
    --bright_yellow: hsl(71, 73%, 54%);
    --lightgray: hsl(204, 43%, 93%);
    --greyish_blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'karla';
}

main {
    width: 40rem;
    height: 29rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}

.header {
    height: 13.5rem;
    grid-column: 1 / span 2;
    grid-row: 1;

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 2rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.header h2 {
    color: var(--cyan);
    padding-bottom: 1.5rem;
}

.header h3 {
    color: var(--bright_yellow);
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.header p {
    color: var(--greyish_blue);
}

.subscribe {
    grid-column: 1;
    grid-row: 2;

    background-color: var(--cyan);

    padding: 2.3rem 2rem;

    color: var(--lightgray);

    border-bottom-left-radius: 0.5rem;
}

.subscribe h2 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.subscribe h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    padding-bottom: 0.5rem;
}

.subscribe h3 span {
    font-size: 1rem;
    font-weight: 400;
}

.subscribe p {
    font-weight: 400;
    font-size: 1rem;
}

.signup-button {
    width: 15rem;
    height: 3rem;
    background-color: var(--bright_yellow);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 0;
    margin-right: auto;
    margin-top: 2rem;

    border-radius: 0.5rem;
}

.signup-button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.signup-button:hover {
    background-color: white;
    transition: color 0.5s ease;
}

.signup-button:hover a {
    color: var(--bright_yellow);
    font-weight: 700;
    text-decoration: underline;

    transition: color 0.5s ease;
}

.convince {
    grid-column: 2;
    grid-row: 2;

    padding: 2.3rem 2rem;

    background-color: var(--light_cyan);

    border-bottom-right-radius: 0.5rem;
}

.convince h2 {
    font-size: 1.2rem;
    color: var(--lightgray);
    padding-bottom: 1.5rem;
}

.convince ul {
    list-style-type: none;

    font-size: 0.9rem;
    color: var(--lightgray);
}

footer {
    width: 100%;
    height: 1.25rem;

    position: fixed;
    bottom: 0;

    background-color: var(--cyan);

    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 0.8rem;
    color: white;
    font-weight: 700;
}